@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(178, 235, 227);
}

.currency-converter {
  width: 25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgb(87, 59, 59);
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0px;
  color: rgb(22, 32, 32);
  margin-bottom: 15px;
  text-align: center;
  background-color: rgb(171, 212, 212);
  border-radius: 8px;
}

.box {
  width: 100%;
  height: 15rem;
  background-image: url(./assets/addimg.png);
  background-position: center;
  background-size:contain ;
  background-repeat: no-repeat;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

.data {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}

.input-container {
  margin-bottom: 0.7rem;
  color: gray;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  outline: none;
}

input:focus,
select:focus {
  border-color: rgb(55, 214, 161);
}

.result {
  margin: 10px 0px;
  padding: 0.7rem;
  border: 1px solid rgb(55, 214, 161);
}

button {
  padding: 0.75rem;
  width: 40%;
}
.result p {
  margin: 10px 0;
  font-weight: bold;
  color: rgb(128, 201, 176);
}